<p>Olá, <b>{{owner}}</b></p>
<p>
  <b>{{subscriber}}</b>, acabou de se inscrever em um Meetup seu, mais informações abaixo:
</p>

<p>
  <strong>Meetup: </strong> {{meetup.title}} <br />
  <strong>Data: </strong> {{meetup.date}} <br />
  <strong>Local: </strong> {{meetup.location}} <br />
</p>
